header{
    background-color:#031d40;
    height: 150px;
    // border-top-right-radius: 5px;
    // border-top-left-radius: 5px;

    .logo{
        position: absolute;
        margin: auto;
        top: 50px;
        left: 0;
        right: 0;
    }
}

